.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 16px;
}

.memo-list ul{
    list-style: none;
    padding: 0;
    margin: 24px 0 0;

    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.memo-item{
    display: block;
    padding: 24px;
    border-radius: 12px;

    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}



[href]{
    color:black;
    text-decoration:none;
}

[href].rainbow:hover,
[href].rainbow:active{
    animation: rainbow 4s linear infinite;
    font-style: italic;
}

@keyframes rainbow{
    0%  {color: red;}
    16% {color: orange;}
    33% {color: yellow;}
    50% {color: green;}
    66% {color: blue;}
    83% {color: indigo;}
    100%    {color: violet;}
}